<div class="container text-center">
  <h1 class="" style="color:white">BIENVENIDO A YUZY</h1>
  <%= image_tag "logo.png", style: "width: 60%; position: relative; top: -50px" %>
  <p style="position: relative; top: -100px; color: white">Esta App está diseñada para facilitarte el manejo de tus clientes, pedidos y más</p>
</div>